<div class="main-image-wrapper">
  <img src="<%- theme.cloudinary.base_url %><%- theme.cloudinary.cloud_name %>/image/upload/f_auto,c_limit,w_<%- theme.cloudinary.main_image.w %>/c_crop,g_auto,w_<%- theme.cloudinary.main_image.w %>,h_<%- theme.cloudinary.main_image.h %>/v<%- theme.cloudinary.version %>/<%- page.main_image.id %>" alt="<%- page.main_image.alt %>">
</div>