<article id="<%= page.layout %>-<%= page.slug %>" class="article article-type-post product-list" itemscope
         itemprop="blogPost">
    <div id="articleInner" class="article-inner">
        <% if (page.link || page.title) { %>
        <header class="article-header">
            <h1 class="thumb" class="article-title" itemprop="name">
                <%= page.title %>
            </h1>
        </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <%- page.content %>

            <% if (page.products) { %>
            <div id="gallery" class="products">
                <% for (var i = 0; i < page.products.length; i++) { %>
                <div class="line-separator clearfix"></div>
                <div class="product">
                    <a href="<%- theme.cloudinary.base_url + theme.cloudinary.cloud_name %>/image/upload/f_auto/v<%- theme.cloudinary.version %>/<%- page.products[i].image.id %>"
                       title="" class="fancybox <% if (i % 2 != 0) { %>float-right<% } %>" rel="article<%- i %>">
                        <img src="<%- theme.cloudinary.base_url + theme.cloudinary.cloud_name %>/image/upload/f_auto,c_limit,h_<%- theme.cloudinary.product.h %>,w_<%- theme.cloudinary.product.w %>/v<%- theme.cloudinary.version %>/<%- page.products[i].image.id %>"
                             alt="<%- page.products[i].image.alt %>">
                    </a>
                    <span class="product__info">
                        <h2 class="product__name">
                            <%- page.products[i].name %>
                        </h2>

                        <p><%- page.products[i].desc %></p>

                        <% if (page.products[i].price) { %>
                        <strong class="product__price">
                            <%- page.products[i].price %>
                        </strong>
                        <% } %>

                        <% if (page.products[i].notice) { %>
                        <div class="product__notice">
                            * <%- page.products[i].notice %>
                        </div>
                        <% } %>

                        <a href="/kontakt" class="cta-btn btn btn-primary btn-lg">Oddaj povpraševanje</a>
                    </span>
                </div>
                <% } %>
                <div class="line-separator clearfix"></div>
            </div>
            <% } %>

            <% if (page.images){ %>
            <div id="gallery">
                <% for (var i = 0; i < page.images.length; i++) { %>
                <a href="<%- theme.cloudinary.base_url %><%- theme.cloudinary.cloud_name %>/image/upload/f_auto/v<%- theme.cloudinary.version %>/<%- page.images[i].id %>" title="" class="fancybox" rel="article0">
                    <img src="<%- theme.cloudinary.base_url %><%- theme.cloudinary.cloud_name %>/image/upload/f_auto,c_limit,h_<%- theme.cloudinary.thumb.h %>,w_<%- theme.cloudinary.thumb.w %>/v<%- theme.cloudinary.version %>/<%- page.images[i].id %>" alt="<%- page.images[i].alt %>">
                </a>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</article>